<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag-button-kcbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,150},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>bag-button-zl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{161,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,105}}</string>
                <key>sourceSize</key>
                <string>{161,105}</string>
            </dict>
            <key>bag-button-zl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{161,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{161,95}}</string>
                <key>sourceSize</key>
                <string>{161,105}</string>
            </dict>
            <key>bag-coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,16},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>bag-equipmented.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,122},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>bag-flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,164}}</string>
                <key>sourceSize</key>
                <string>{115,164}</string>
            </dict>
            <key>bag-itemselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bag-jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,150},{40,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>bag-scroll-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,25},{12,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,6}}</string>
                <key>sourceSize</key>
                <string>{12,6}</string>
            </dict>
            <key>bag-scroll-middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,16},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>bag-scroll-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{12,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,69}}</string>
                <key>sourceSize</key>
                <string>{12,69}</string>
            </dict>
            <key>bag-scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{12,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,118}}</string>
                <key>sourceSize</key>
                <string>{12,118}</string>
            </dict>
            <key>bag-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,61},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inventory.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c9a8ebf3940f8bb7e0f5ecd0da70d7$</string>
            <key>textureFileName</key>
            <string>inventory.png</string>
        </dict>
    </dict>
</plist>
