*.idea*

*.xcuserdatad*

*.DS_Store

*.xccheckout

*.xcuserstate

android/proj.android/assets/*

android/proj.android/bin/*

android/proj.andorid/obj/*

develop/build
libs/GA/proj.ios/build
25pp/build
app111/build
AppStore/build
kuaiyong/build
nd91/build
tools/pack/Payload
release
