<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Resolutions</key>
	<array>
		<dict>
			<key>path</key>
			<string>1136/</string>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>1136</integer>
		</dict>
		<dict>
			<key>path</key>
			<string>960/</string>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>960</integer>
		</dict>
	</array>
	<key>SearchPaths</key>
	<array>
		<string>table/</string>
		<string>script/</string>
		<string>blackbox/</string>
		<string>dtable/</string>
		<string>dscript/</string>
		<string>dblackbox/</string>
		<string>sound/</string>
		<string>sprite/</string>
		<string>node/</string>
		<string>spritesheets/</string>
		<string>font/</string>
		<string>misc/</string>
		<string>ui/*</string>
	</array>
	<key>UpdatePath</key>
	<string>update/</string>
</dict>
</plist>
