<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>index-btn-bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,844},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,560},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-changejob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,84},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-cloth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,370},{282,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,159}}</string>
                <key>sourceSize</key>
                <string>{282,159}</string>
            </dict>
            <key>index-btn-cloth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,118},{282,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,159}}</string>
                <key>sourceSize</key>
                <string>{282,159}</string>
            </dict>
            <key>index-btn-event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,118},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-fight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-fight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-forge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,402},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-forge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,686},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,654},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,654},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-mail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,448},{78,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-btn-mail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,368},{78,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-btn-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,844},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-recharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,926},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-recharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,844},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,931},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,931},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-store1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,402},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-store2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,370},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-union3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
            <key>index-jl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,370},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,105},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,105},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,84},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,96},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,96},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-mrrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,118},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-mrrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,118},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,96},{596,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,20}}</string>
                <key>sourceSize</key>
                <string>{596,20}</string>
            </dict>
            <key>index-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,804},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>index-qdjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,118},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-qdjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,724},{74,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,644},{74,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-roleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,93},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,65.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>index-talk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,560},{82,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-talk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,118},{82,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-xslb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,560},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-xslb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,856},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bcd2ab8a87d53fd938c938a4c13e846$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
