<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fm1-chest-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,74},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fm1-chest-c_20140408170042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{50,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fm1-helmet-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,38}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{60,38}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fm1-lefthand-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,38},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>fm1-lefthand-c_20140408170042.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,51}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>fm1-leftleg-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,126},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fm1-leftleg-c_20140408170042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fm1-righthand-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,172},{44,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>fm1-righthand-c_20140408170042.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,184},{44,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>fm1-rightleg-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{42,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fm1-rightleg-c_20140408170042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{42,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rfasion-male1-c.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6542a00812b375a57fbfe27e1b0340f9$</string>
            <key>textureFileName</key>
            <string>rfasion-male1-c.png</string>
        </dict>
    </dict>
</plist>
