<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.kddxc.koudaidixiacheng1ios.0.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.1.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.4.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.9.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.19.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.29.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.49.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.99.99</string>
	<string>com.kddxc.koudaidixiacheng1ios.3.99</string>
</array>
</plist>
