<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.kddxc.koudaidixiachengios.0.99</string>
	<string>com.kddxc.koudaidixiachengios.1.99</string>
	<string>com.kddxc.koudaidixiachengios.4.99</string>
	<string>com.kddxc.koudaidixiachengios.9.99</string>
	<string>com.kddxc.koudaidixiachengios.19.99</string>
	<string>com.kddxc.koudaidixiachengios.29.99</string>
	<string>com.kddxc.koudaidixiachengios.49.99</string>
	<string>com.kddxc.koudaidixiachengios.99.99</string>
	<string>com.kddxc.koudaidixiachengios.3.99</string>
</array>
</plist>
