<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<integer>6</integer>
		<key>title</key>
		<string>6元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>12</string>
		<key>title</key>
		<string>12元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>30</string>
		<key>title</key>
		<string>30元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>68</string>
		<key>title</key>
		<string>68元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>128元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>198</string>
		<key>title</key>
		<string>198元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>328</string>
		<key>title</key>
		<string>328元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>648</string>
		<key>title</key>
		<string>648元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<string>25</string>
		<key>title</key>
		<string>月卡</string>
	</dict>
</array>
</plist>
