<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<integer>6</integer>
		<key>title</key>
		<string>6元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>12</integer>
		<key>title</key>
		<string>12元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>30</integer>
		<key>title</key>
		<string>30元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>68</integer>
		<key>title</key>
		<string>68元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>128</integer>
		<key>title</key>
		<string>128元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>198</integer>
		<key>title</key>
		<string>198元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>328</integer>
		<key>title</key>
		<string>328元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>648</integer>
		<key>title</key>
		<string>648元宝石大礼包</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>25</integer>
		<key>title</key>
		<string>月卡</string>
	</dict>
</array>
</plist>
