<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,907},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>battle-box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,434},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,666},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-boxshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,536},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,406},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,276},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-floor9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,881},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,319},{52,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,276},{52,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle-pause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,382},{50,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle-pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,330},{50,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle-pausetitle-zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,296},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>battle-shadowa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,106},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,80},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,54},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,28},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,881},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>battle-shadowc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,214},{23,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,80}}</string>
                <key>sourceSize</key>
                <string>{23,80}</string>
            </dict>
            <key>battle-shadowc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,294},{80,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,23}}</string>
                <key>sourceSize</key>
                <string>{80,23}</string>
            </dict>
            <key>battle-shadowc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,132},{23,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,80}}</string>
                <key>sourceSize</key>
                <string>{23,80}</string>
            </dict>
            <key>battle-shadowd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-shadowd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,881},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>battle-skilltip.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{101,276},{608,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,110}}</string>
                <key>sourceSize</key>
                <string>{608,110}</string>
            </dict>
            <key>battle-stair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{102,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-treasure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,212},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-treasure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,130},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>battle-uibottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,272}}</string>
                <key>sourceSize</key>
                <string>{640,272}</string>
            </dict>
            <key>battle-uifloornum.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>battle-uitop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{640,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,97}}</string>
                <key>sourceSize</key>
                <string>{640,97}</string>
            </dict>
            <key>cardinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,276},{565,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,183}}</string>
                <key>sourceSize</key>
                <string>{565,183}</string>
            </dict>
            <key>effect-door1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,907},{56,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,112}}</string>
                <key>sourceSize</key>
                <string>{56,112}</string>
            </dict>
            <key>effect-door2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,907},{56,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,112}}</string>
                <key>sourceSize</key>
                <string>{56,112}</string>
            </dict>
            <key>effect-door3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,907},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>effect-door4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,914},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effect-door5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,886},{26,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,112}}</string>
                <key>sourceSize</key>
                <string>{26,112}</string>
            </dict>
            <key>game-wall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,843},{164,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,36}}</string>
                <key>sourceSize</key>
                <string>{164,36}</string>
            </dict>
            <key>game-wall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,843},{36,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,164}}</string>
                <key>sourceSize</key>
                <string>{36,164}</string>
            </dict>
            <key>hpicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,276},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>poisonicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,298},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d61be15776f6e7edfa11a13e98e1917$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
