<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossL-arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,572},{129,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,179}}</string>
                <key>sourceSize</key>
                <string>{129,179}</string>
            </dict>
            <key>bossL-arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,753},{256,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,143}}</string>
                <key>sourceSize</key>
                <string>{256,143}</string>
            </dict>
            <key>bossL-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{369,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,482}}</string>
                <key>sourceSize</key>
                <string>{369,482}</string>
            </dict>
            <key>bossL-chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{157,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,187}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>bossL-claws.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{179,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,168}}</string>
                <key>sourceSize</key>
                <string>{179,168}</string>
            </dict>
            <key>bossL-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,486},{279,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,304}}</string>
                <key>sourceSize</key>
                <string>{279,304}</string>
            </dict>
            <key>bossL-tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,572},{133,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,109}}</string>
                <key>sourceSize</key>
                <string>{133,109}</string>
            </dict>
            <key>bossL-wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,568}}</string>
                <key>sourceSize</key>
                <string>{613,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossL.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7515cb1fc8e5e5963d59422a8cac953f$</string>
            <key>textureFileName</key>
            <string>bossL.png</string>
        </dict>
    </dict>
</plist>
