<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bounty-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,280},{520,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,130}}</string>
                <key>sourceSize</key>
                <string>{520,130}</string>
            </dict>
            <key>bounty-btn-ksrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>bounty-btn-ksrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>bounty-btn-zbeasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{193,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{193,125}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>bounty-btn-zbeasy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{193,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{193,125}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>bounty-btnback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>bounty-btnback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>bounty-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,802},{222,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,178}}</string>
                <key>sourceSize</key>
                <string>{222,178}</string>
            </dict>
            <key>bounty-jjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,277},{109,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,32}}</string>
                <key>sourceSize</key>
                <string>{109,32}</string>
            </dict>
            <key>bounty-jjjsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{336,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,69}}</string>
                <key>sourceSize</key>
                <string>{336,69}</string>
            </dict>
            <key>bounty-jjkq.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,608},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>bounty-jjkqbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{336,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,69}}</string>
                <key>sourceSize</key>
                <string>{336,69}</string>
            </dict>
            <key>bounty-tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>bounty-tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,165},{113,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>bounty-timezb.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,717},{197,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,29}}</string>
                <key>sourceSize</key>
                <string>{197,29}</string>
            </dict>
            <key>bounty-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,117},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>bounty-yjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,498},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>bounty-yjjsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{336,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,69}}</string>
                <key>sourceSize</key>
                <string>{336,69}</string>
            </dict>
            <key>bounty-yjwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,388},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>bounty-yjwcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{336,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,69}}</string>
                <key>sourceSize</key>
                <string>{336,69}</string>
            </dict>
            <key>bounty-zzjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,165},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>bounty-zzjxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,69}}</string>
                <key>sourceSize</key>
                <string>{336,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bounty.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d19dd6e06d3ca8fe40d95889e61d460$</string>
            <key>textureFileName</key>
            <string>bounty.png</string>
        </dict>
    </dict>
</plist>
