<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bounty-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,150}}</string>
                <key>sourceSize</key>
                <string>{570,150}</string>
            </dict>
            <key>bounty-btn-easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,541},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,688},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,677},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-hell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,649},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-hell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,539},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-ksrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>bounty-btn-ksrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,209},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>bounty-btn-nightmare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,429},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-nightmare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,319},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,527},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btn-normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,209},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>bounty-btnback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>bounty-btnback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>bounty-csbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,365},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>bounty-icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,425},{197,179}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{197,179}}</string>
                <key>sourceSize</key>
                <string>{219,193}</string>
            </dict>
            <key>bounty-icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,496},{191,179}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{191,179}}</string>
                <key>sourceSize</key>
                <string>{219,193}</string>
            </dict>
            <key>bounty-icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,315},{219,179}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{219,179}}</string>
                <key>sourceSize</key>
                <string>{219,193}</string>
            </dict>
            <key>bounty-icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,244},{197,179}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{197,179}}</string>
                <key>sourceSize</key>
                <string>{219,193}</string>
            </dict>
            <key>bounty-icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,606},{177,179}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{177,179}}</string>
                <key>sourceSize</key>
                <string>{219,193}</string>
            </dict>
            <key>bounty-jjjsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
            <key>bounty-jjkqbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,140},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
            <key>bounty-knife1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,453},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>bounty-knife2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,512},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>bounty-tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,223},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>bounty-tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,395},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>bounty-time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,496},{190,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,28}}</string>
                <key>sourceSize</key>
                <string>{190,28}</string>
            </dict>
            <key>bounty-time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,315},{190,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,28}}</string>
                <key>sourceSize</key>
                <string>{190,28}</string>
            </dict>
            <key>bounty-time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,603},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>bounty-time4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,214},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>bounty-time5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,184},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>bounty-timebs.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,507},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>bounty-timesld.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,154},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>bounty-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,512},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>bounty-yjjsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,71},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
            <key>bounty-yjwcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
            <key>bounty-zzjxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bounty.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a053bd381d8b4a796fcf07788c79d393$</string>
            <key>textureFileName</key>
            <string>bounty.png</string>
        </dict>
    </dict>
</plist>
