<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map-button-cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,355},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>map-button-cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,599},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>map-button-confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>map-button-confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>map-infobg-difficult1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,636},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-difficult2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,599},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-difficult3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,564},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-difficult4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,564},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,745},{144,124}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,710},{144,124}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-easy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,418},{144,124}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-easy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,355},{144,124}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,490},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,599},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,835},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>map-infobg-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,462},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>map-raid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,747},{144,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{144,122}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>map-raid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,871},{144,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{144,122}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>map-raid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,156},{170,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,152}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>map-raid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,310},{170,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,150}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>map-raid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{170,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,152}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>map-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{586,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,108}}</string>
                <key>sourceSize</key>
                <string>{586,108}</string>
            </dict>
            <key>selectf-add1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,490},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>selectf-add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,490},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>selectf-avatarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{528,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,131}}</string>
                <key>sourceSize</key>
                <string>{528,131}</string>
            </dict>
            <key>selectf-cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,490},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>selectf-cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,320},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>selectf-close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,355},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>selectf-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,418},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>selectf-confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,368},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>selectf-confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,246},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>selectf-leader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,355},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>selectf-leader2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,222},{56,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,96}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>selectf-refresh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,124},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>selectf-refresh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>selectf-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,462},{153,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,100}}</string>
                <key>sourceSize</key>
                <string>{153,100}</string>
            </dict>
            <key>selectf-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,747},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>selectf-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,108}}</string>
                <key>sourceSize</key>
                <string>{586,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>campaign.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b67666b00086e9b64e1accd36a3dff99$</string>
            <key>textureFileName</key>
            <string>campaign.png</string>
        </dict>
    </dict>
</plist>
