<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar-1-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,217},{62,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{62,50}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-1-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,196},{64,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{64,58}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-1-hair2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,54}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>avatar-2-brow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,330},{28,9}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{28,9}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>avatar-2-brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,209},{28,5}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{28,5}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>avatar-2-eye-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,171},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>avatar-2-eye-green-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,155},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>avatar-2-eye-yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,155},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>avatar-2-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{60,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{60,50}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-2-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{64,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-3-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,256},{60,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{60,50}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-3-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{62,56}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{62,56}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-3-hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,58},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>avatar-4-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{68,62}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{68,62}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-4-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,132},{64,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{64,62}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-5-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{64,60}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{64,60}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-5-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,190},{64,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{64,58}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-5-hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,58},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>avatar-6-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,250},{60,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-6-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,126},{64,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{64,62}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-6-hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,58},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>avatar-7-hair-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,68},{68,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{68,56}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-7-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{64,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-7-hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>avatar-8-hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>avatar-8-hair3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>avatar-brow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,187},{32,9}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,9}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>avatar-brow.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,198},{30,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,9}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>avatar-eye-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,330},{26,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,10}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>avatar-eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,189},{26,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,12}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>avatar-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,281},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>warrior-head-female.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,306},{56,48}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{56,48}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>warrior-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,68},{68,62}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{68,62}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>warrior-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,308},{56,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,20}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>warrior-shadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,26}}</string>
                <key>sourceSize</key>
                <string>{71,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2efe7b6b6fd231413c916d30f084bc7b$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
