<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{590,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,34}}</string>
                <key>sourceSize</key>
                <string>{590,34}</string>
            </dict>
            <key>bigline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,284},{590,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,20}}</string>
                <key>sourceSize</key>
                <string>{590,20}</string>
            </dict>
            <key>empity.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>friendbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,102},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>levelup-djts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{133,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,35}}</string>
                <key>sourceSize</key>
                <string>{133,35}</string>
            </dict>
            <key>redtitle-close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,226},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>redtitle-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>redtitle-yqts.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,876},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>redtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,38},{586,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,108}}</string>
                <key>sourceSize</key>
                <string>{586,108}</string>
            </dict>
            <key>redtitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{546,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,163}}</string>
                <key>sourceSize</key>
                <string>{546,163}</string>
            </dict>
            <key>smallline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,507},{510,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,34}}</string>
                <key>sourceSize</key>
                <string>{510,34}</string>
            </dict>
            <key>smallline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,75},{510,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,20}}</string>
                <key>sourceSize</key>
                <string>{510,20}</string>
            </dict>
            <key>ui-close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,377},{46,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>ui-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,329},{46,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>update-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,34}}</string>
                <key>sourceSize</key>
                <string>{263,34}</string>
            </dict>
            <key>wood-close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,467},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{40,38}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>wood-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>wood-coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,284},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>wood-jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,425},{40,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c16c1932d4274156b68af582dbcada1$</string>
            <key>textureFileName</key>
            <string>commonui.png</string>
        </dict>
    </dict>
</plist>
