<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailymission-960-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,574}}</string>
                <key>sourceSize</key>
                <string>{579,574}</string>
            </dict>
            <key>dailymission-960-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dailymission-960-light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>dailymission-960-light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>dailymission-960-light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>dailymission-960-light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailymission-960.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2237f0eb983b539d81827542f01df56$</string>
            <key>textureFileName</key>
            <string>dailymission-960.png</string>
        </dict>
    </dict>
</plist>
