<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailyprize-common-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,65}}</string>
                <key>sourceSize</key>
                <string>{579,65}</string>
            </dict>
            <key>dailyprize-common-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{308,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,31}}</string>
                <key>sourceSize</key>
                <string>{308,31}</string>
            </dict>
            <key>dailyprize-common-btnreward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>dailyprize-common-btnreward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,35},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>dailyprize-common-day1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,609},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,524},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,537},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,453},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,381},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,297},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,289},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,225},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,141},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-day5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,69},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>dailyprize-common-jrjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,183},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>dailyprize-common-knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,69},{91,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>dailyprize-common-tabqdjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>dailyprize-common-tabqdjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,174},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>dailyprize-common-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,35},{138,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,45}}</string>
                <key>sourceSize</key>
                <string>{138,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailyprize-common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1925b5b4175e4a509f44f6f8bc7fc8d$</string>
            <key>textureFileName</key>
            <string>dailyprize-common.png</string>
        </dict>
    </dict>
</plist>
