<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailyprize-common-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,148},{579,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,65}}</string>
                <key>sourceSize</key>
                <string>{579,65}</string>
            </dict>
            <key>dailyprize-common-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{496,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,98}}</string>
                <key>sourceSize</key>
                <string>{496,98}</string>
            </dict>
            <key>dailyprize-common-get.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,831},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>dailyprize-common-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>dailyprize-common-lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,729},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dailyprize-common-month.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,296},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>dailyprize-common-tabqdjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>dailyprize-common-tabqdjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>dailyprize-common-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{138,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,45}}</string>
                <key>sourceSize</key>
                <string>{138,45}</string>
            </dict>
            <key>dailyprize-common-vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,75},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>dailyprize-common-vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailyprize-common.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fcc218437c2a6c5625825e1f4c7680$</string>
            <key>textureFileName</key>
            <string>dailyprize-common.png</string>
        </dict>
    </dict>
</plist>
