<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,24},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>cardinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,276},{565,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,183}}</string>
                <key>sourceSize</key>
                <string>{565,183}</string>
            </dict>
            <key>dungeon-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,112},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>dungeon-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,843},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>dungeon-pause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,843},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>dungeon-pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,843},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>dungeon-pausetitle-zt.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,50},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>dungeon-stair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{102,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dungeon-treasure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,60},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dungeon-treasure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,30},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{86,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dungeon-uibottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,272}}</string>
                <key>sourceSize</key>
                <string>{640,272}</string>
            </dict>
            <key>dungeon-uifloornum.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>dungeon-uitop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{640,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,97}}</string>
                <key>sourceSize</key>
                <string>{640,97}</string>
            </dict>
            <key>effect-door1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{56,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,112}}</string>
                <key>sourceSize</key>
                <string>{56,112}</string>
            </dict>
            <key>effect-door2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,910},{56,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,112}}</string>
                <key>sourceSize</key>
                <string>{56,112}</string>
            </dict>
            <key>effect-door3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,910},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>effect-door4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,910},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effect-door5.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{26,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,112}}</string>
                <key>sourceSize</key>
                <string>{26,112}</string>
            </dict>
            <key>hpicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dungeon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d5a9f383db0ec9255175a992b002a9e$</string>
            <key>textureFileName</key>
            <string>dungeon.png</string>
        </dict>
    </dict>
</plist>
