<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-archerboss-1-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{25,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,128}}</string>
                <key>sourceSize</key>
                <string>{25,128}</string>
            </dict>
            <key>enemy-archerboss-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,100},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>enemy-archerboss-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>enemy-archerboss-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,185},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>enemy-archerboss-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,132},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>enemy-archerboss-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,184}}</string>
                <key>sourceSize</key>
                <string>{39,184}</string>
            </dict>
            <key>enemy-archerboss-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,185},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>enemy-archerboss-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>earcherboss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cbf900e2db3afd1561744fa001bbde5$</string>
            <key>textureFileName</key>
            <string>earcherboss.png</string>
        </dict>
    </dict>
</plist>
