<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-archer-3-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,40},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>enemy-archer-3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>enemy-archer-3-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>enemy-archer-3-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>enemy-archer-3-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,145},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>enemy-archer-3-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,16}}</string>
                <key>sourceSize</key>
                <string>{90,16}</string>
            </dict>
            <key>enemy-archer-3-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>enemy-archer-3-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,108},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>earcher3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ecf37a8f9b404d54c2267e4dfe9f89$</string>
            <key>textureFileName</key>
            <string>earcher3.png</string>
        </dict>
    </dict>
</plist>
