<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectnpc-bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,548},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>effectnpc-bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,520},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>effectnpc-bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,492},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>effectnpc-bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,526},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>effectnpc-bz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,469},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>effectnpc-bz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,582},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>effectnpc-bz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,432},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>effectnpc-bz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,315},{105,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,151}}</string>
                <key>sourceSize</key>
                <string>{105,151}</string>
            </dict>
            <key>effectnpc-bz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,139},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>effectnpc-bz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,140},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effectnpc-bz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>effectnpc-bz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,136},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>effectnpc-bz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>effectnpc-bz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effectnpc-drtt-js.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,417},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>effectnpc-drtt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,675},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,140},{13,62}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{13,62}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,641},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,563},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,257},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>effectnpc-drtt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,744},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>effectnpc-drtt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,563},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effectnpc-gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,89},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>effectnpc-gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,463},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>effectnpc-gas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>effectnpc-gasbz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,616},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>effectnpc-gasbz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,422},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>effectnpc-gasbz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,338},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>effectnpc-gasbz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,322},{105,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,151}}</string>
                <key>sourceSize</key>
                <string>{105,151}</string>
            </dict>
            <key>effectnpc-gasbz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>effectnpc-gasbz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,139},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effectnpc-gasbz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>effectnpc-gasbz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>effectnpc-gasbz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>effectnpc-gasbz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,450},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effectnpc-smzq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,316},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,429},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,176},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>effectnpc-smzq5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,685},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>effectnpc-smzq6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,553},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effectnpc-sszg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,666},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>effectnpc-sszg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,402},{142,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,270},{164,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,50}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,402},{142,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{142,58}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>effectnpc-sszg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,275},{124,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,160}}</string>
                <key>sourceSize</key>
                <string>{124,160}</string>
            </dict>
            <key>effectnpc-sszg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,544},{124,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,95}}</string>
                <key>sourceSize</key>
                <string>{124,95}</string>
            </dict>
            <key>effectnpc-sszg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,316},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>effectnpc-sszg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,351},{119,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,33}}</string>
                <key>sourceSize</key>
                <string>{119,33}</string>
            </dict>
            <key>effectnpc-sszg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,270},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,36}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>effectnpc-sszg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,86}}</string>
                <key>sourceSize</key>
                <string>{192,86}</string>
            </dict>
            <key>effectnpc-sszg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,547},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>effectnpc-xc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,401},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>effectnpc-zd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,364},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>effectnpc-zd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,429},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effectnpc-zd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,315},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectnpc.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5a0f06a882d33e3b8696ebe5b188fac$</string>
            <key>textureFileName</key>
            <string>effectnpc.png</string>
        </dict>
    </dict>
</plist>
