<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{234,235}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,191},{234,235}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{234,235}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,191},{234,235}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,237}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,189},{236,237}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,241},{232,233}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,191},{232,233}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-kuangre-s6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69062d481ad8ecd6af9faa177d0cc6bd$</string>
            <key>textureFileName</key>
            <string>effect-kuangre-s6.png</string>
        </dict>
    </dict>
</plist>
