<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,435}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,0},{136,435}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,403}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,31},{136,403}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{130,273}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,162},{130,273}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>A0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,277},{1,1}}</string>
                <key>offset</key>
                <string>{-201.5,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-kuangre-s2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f822b83859c5d97a6951194de5004e4e$</string>
            <key>textureFileName</key>
            <string>effect-kuangre-s2.png</string>
        </dict>
    </dict>
</plist>
