<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebihu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{310,418}}</string>
                <key>offset</key>
                <string>{7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,22},{310,418}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,422},{314,418}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,22},{314,418}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{318,418}}</string>
                <key>offset</key>
                <string>{11,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,22},{318,418}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,418}}</string>
                <key>offset</key>
                <string>{13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,22},{320,418}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bihu2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7129315bf51602d5c684ec2c4e075d99$</string>
            <key>textureFileName</key>
            <string>effect-bihu2.png</string>
        </dict>
    </dict>
</plist>
