<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{1,1}}</string>
                <key>offset</key>
                <string>{-201.5,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{138,61}}</string>
                <key>offset</key>
                <string>{-1,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,364},{138,61}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{144,61}}</string>
                <key>offset</key>
                <string>{-1,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,364},{144,61}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{154,65}}</string>
                <key>offset</key>
                <string>{-1,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,363},{154,65}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,75}}</string>
                <key>offset</key>
                <string>{0,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,359},{168,75}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-kuangre-x1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcebc46ae75e22226e281fd7e2202d36$</string>
            <key>textureFileName</key>
            <string>effect-kuangre-x1.png</string>
        </dict>
    </dict>
</plist>
