<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectnpc2-bz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,810},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>effectnpc2-bz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,679},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>effectnpc2-bz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>effectnpc2-bz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,526},{105,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,151}}</string>
                <key>sourceSize</key>
                <string>{105,151}</string>
            </dict>
            <key>effectnpc2-bz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,476},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>effectnpc2-bz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effectnpc2-bz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>effectnpc2-bz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,342},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>effectnpc2-bz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>effectnpc2-bz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,612},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effectnpc2-clear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,808},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>effectnpc2-clear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,744},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>effectnpc2-clear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,704},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>effectnpc2-clear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,890},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effectnpc2-clear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effectnpc2-clear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effectnpc2-wd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,810},{76,68}}</string>
                <key>offset</key>
                <string>{-32,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{104,94}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,94}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,408},{116,106}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{116,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,304},{112,102}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{112,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,612},{90,82}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{90,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effectnpc2-wd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,476},{42,38}}</string>
                <key>offset</key>
                <string>{43,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{42,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectnpc2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e69432685271921f8b05ea8c6f3275$</string>
            <key>textureFileName</key>
            <string>effectnpc2.png</string>
        </dict>
    </dict>
</plist>
