<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>epaoxiao00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{1,1}}</string>
                <key>offset</key>
                <string>{-90.5,98.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,894},{122,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{122,128}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{174,182}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{174,182}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,198}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{180,190}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{180,190}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{154,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{154,162}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,894},{126,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{126,136}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{132,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{132,140}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,856},{138,146}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{138,146}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,362},{144,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{144,152}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{150,158}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{150,158}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{154,164}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{154,164}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,202},{150,158}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{150,158}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,738},{146,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{146,154}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{140,150}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{140,150}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,314},{136,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{136,144}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{130,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{130,140}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,894},{126,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{126,136}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,144},{130,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{130,140}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,516},{136,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{136,144}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,162},{140,150}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{140,150}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,738},{146,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{146,154}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,394},{150,158}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{150,158}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{154,164}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{154,164}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,578},{150,158}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{150,158}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,554},{144,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{144,152}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,708},{138,146}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{138,146}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,154},{132,140}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{132,140}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
            <key>epaoxiao00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,894},{126,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{126,136}}</string>
                <key>sourceSize</key>
                <string>{182,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-paoxiao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d2e3c0697ccaa4c991a7b5a3bd7f84$</string>
            <key>textureFileName</key>
            <string>effect-paoxiao.png</string>
        </dict>
    </dict>
</plist>
