<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exuli200009.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{509,422}}</string>
                <key>offset</key>
                <string>{83,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,252},{509,422}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{467,464}}</string>
                <key>offset</key>
                <string>{36,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,159},{467,464}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200011.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,513},{367,412}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,179},{367,412}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,520}}</string>
                <key>offset</key>
                <string>{-16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,200},{355,520}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-xuli4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e99e28f2f7254aab0b6b66ce105132$</string>
            <key>textureFileName</key>
            <string>effect-xuli4.png</string>
        </dict>
    </dict>
</plist>
