<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exuli200033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{231,234}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,266},{231,234}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,234}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,266},{233,234}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-xuli10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed63626ef6be60e8c3ef3f4310ed9d10$</string>
            <key>textureFileName</key>
            <string>effect-xuli10.png</string>
        </dict>
    </dict>
</plist>
