<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebihu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,566},{290,404}}</string>
                <key>offset</key>
                <string>{6,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,21},{290,404}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{418,474}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,21},{418,474}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,562}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{562,562}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{306,238}}</string>
                <key>offset</key>
                <string>{-1,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,9},{306,238}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bihu5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a5c55bd4caddb908991a8232e845903$</string>
            <key>textureFileName</key>
            <string>effect-bihu5.png</string>
        </dict>
    </dict>
</plist>
