<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,324}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,98},{484,324}}</string>
                <key>sourceSize</key>
                <string>{822,570}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{538,428}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,57},{538,428}}</string>
                <key>sourceSize</key>
                <string>{822,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-fennuzhiyan9.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc3d560edbfc5d28b2b950ba4d8728c$</string>
            <key>textureFileName</key>
            <string>effect-fennuzhiyan9.png</string>
        </dict>
    </dict>
</plist>
