<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebihu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,568},{116,266}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,132},{116,266}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{160,394}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,40},{160,394}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{264,416}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,40},{264,416}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,428}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,13},{298,428}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bihu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4933b8502d8a0fc2f871cc9b23f2a91d$</string>
            <key>textureFileName</key>
            <string>effect-bihu.png</string>
        </dict>
    </dict>
</plist>
