<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exuli200025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{229,232}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,267},{229,232}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200026.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{225,228}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,269},{225,228}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200027.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,238},{225,228}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,269},{225,228}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,234}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,266},{231,234}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-xuli8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751ffbe57f70ae15c5af1d3228efeeb0$</string>
            <key>textureFileName</key>
            <string>effect-xuli8.png</string>
        </dict>
    </dict>
</plist>
