<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebihu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{246,140}}</string>
                <key>offset</key>
                <string>{24,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,107},{246,140}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,136}}</string>
                <key>offset</key>
                <string>{23,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,114},{256,136}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{218,132}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,119},{218,132}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,140},{34,18}}</string>
                <key>offset</key>
                <string>{88,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,121},{34,18}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bihu6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4892e5b3542027270c1815066fff0f3$</string>
            <key>textureFileName</key>
            <string>effect-bihu6.png</string>
        </dict>
    </dict>
</plist>
