<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect-bjbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,100},{162,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,172}}</string>
                <key>sourceSize</key>
                <string>{162,172}</string>
            </dict>
            <key>effect-bjwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>effect-fyyjn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{158,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,315}}</string>
                <key>sourceSize</key>
                <string>{162,317}</string>
            </dict>
            <key>effect-fyyjn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{158,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,316}}</string>
                <key>sourceSize</key>
                <string>{158,316}</string>
            </dict>
            <key>effect-fyyjn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,264},{158,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,215}}</string>
                <key>sourceSize</key>
                <string>{158,215}</string>
            </dict>
            <key>effect-fyyjn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{289,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,90}}</string>
                <key>sourceSize</key>
                <string>{289,90}</string>
            </dict>
            <key>effect-fyyjn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,726},{258,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,97}}</string>
                <key>sourceSize</key>
                <string>{258,97}</string>
            </dict>
            <key>effect-fyyjn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,96}}</string>
                <key>sourceSize</key>
                <string>{426,96}</string>
            </dict>
            <key>effect-fyyjn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,481},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect-fyyjn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{304,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,306}}</string>
                <key>sourceSize</key>
                <string>{304,306}</string>
            </dict>
            <key>effect-fyyjn9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,26},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc61f3993bfaf4b88d895201d7ee988$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
