<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,415}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{308,415}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,622},{308,411}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{308,411}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{308,411}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{308,411}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,312},{308,411}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{308,411}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{308,411}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{308,411}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
            <key>B0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{308,411}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{308,411}}</string>
                <key>sourceSize</key>
                <string>{404,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-kuangre-x4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47d622f5e6dcc269624ad7ae8cf72c1$</string>
            <key>textureFileName</key>
            <string>effect-kuangre-x4.png</string>
        </dict>
    </dict>
</plist>
