<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exuli200029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,238}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,264},{245,238}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200030.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,232},{237,240}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,264},{237,240}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200031.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{241,228}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,269},{241,228}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
            <key>exuli200032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{225,228}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,269},{225,228}}</string>
                <key>sourceSize</key>
                <string>{705,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-xuli9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc60b413b3b938af509deea9c6341927$</string>
            <key>textureFileName</key>
            <string>effect-xuli9.png</string>
        </dict>
    </dict>
</plist>
