<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebingjian00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,280}}</string>
                <key>offset</key>
                <string>{184,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,314},{283,280}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{221,232}}</string>
                <key>offset</key>
                <string>{218,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,355},{221,232}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{235,270}}</string>
                <key>offset</key>
                <string>{221,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{503,327},{235,270}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,478},{235,256}}</string>
                <key>offset</key>
                <string>{214,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,363},{235,256}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{245,240}}</string>
                <key>offset</key>
                <string>{223,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,336},{245,240}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,236},{217,240}}</string>
                <key>offset</key>
                <string>{200,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,358},{217,240}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{171,156}}</string>
                <key>offset</key>
                <string>{227,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{541,383},{171,156}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,763},{135,138}}</string>
                <key>offset</key>
                <string>{204,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,405},{135,138}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bingjian3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6ec72980cf457d0b304de101be32551$</string>
            <key>textureFileName</key>
            <string>effect-bingjian3.png</string>
        </dict>
    </dict>
</plist>
