<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebingjian00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,380},{266,34}}</string>
                <key>offset</key>
                <string>{-217,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,133},{266,34}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,244},{268,34}}</string>
                <key>offset</key>
                <string>{-95,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,133},{268,34}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,380},{512,74}}</string>
                <key>offset</key>
                <string>{-94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,93},{512,74}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,244},{516,98}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,93},{516,98}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,244},{402,134}}</string>
                <key>offset</key>
                <string>{95,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,78},{402,134}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{686,176}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{686,176}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{568,204}}</string>
                <key>offset</key>
                <string>{55,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,39},{568,204}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,572},{442,218}}</string>
                <key>offset</key>
                <string>{115,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,22},{442,218}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,240}}</string>
                <key>offset</key>
                <string>{183,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,20},{334,240}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,792},{170,200}}</string>
                <key>offset</key>
                <string>{243,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,18},{170,200}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{210,240}}</string>
                <key>offset</key>
                <string>{245,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,1},{210,240}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,792},{174,226}}</string>
                <key>offset</key>
                <string>{252,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{515,23},{174,226}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,792},{170,228}}</string>
                <key>offset</key>
                <string>{243,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,18},{170,228}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{210,218}}</string>
                <key>offset</key>
                <string>{245,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,48},{210,218}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,894},{144,122}}</string>
                <key>offset</key>
                <string>{245,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,70},{144,122}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
            <key>ebingjian00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,416},{152,132}}</string>
                <key>offset</key>
                <string>{246,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,64},{152,132}}</string>
                <key>sourceSize</key>
                <string>{700,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bingjian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:934a342bfbcfe36a54a6b911e5a11b7f$</string>
            <key>textureFileName</key>
            <string>effect-bingjian.png</string>
        </dict>
    </dict>
</plist>
