<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectnpc-bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,717},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>effectnpc-bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,144},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>effectnpc-bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,144},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>effectnpc-bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,635},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>effectnpc-bz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,950},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>effectnpc-bz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>effectnpc-bz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,654},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>effectnpc-bz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,576},{105,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,151}}</string>
                <key>sourceSize</key>
                <string>{105,151}</string>
            </dict>
            <key>effectnpc-bz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>effectnpc-bz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,759},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effectnpc-bz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>effectnpc-bz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,767},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>effectnpc-bz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,198},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>effectnpc-bz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,355},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effectnpc-drtt-js.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,144},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>effectnpc-drtt-ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,502},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>effectnpc-drtt-wd.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,144},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>effectnpc-drtt-xr.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,529},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>effectnpc-drtt-xssh.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,938},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>effectnpc-drtt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,346},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,564},{13,62}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{13,62}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,327},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,224},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>effectnpc-drtt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,933},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>effectnpc-drtt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,449},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>effectnpc-drtt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,224},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effectnpc-gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,938},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>effectnpc-gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,729},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>effectnpc-gas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,938},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>effectnpc-gasbz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>effectnpc-gasbz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,144},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>effectnpc-gasbz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,756},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>effectnpc-gasbz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,363},{105,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,151}}</string>
                <key>sourceSize</key>
                <string>{105,151}</string>
            </dict>
            <key>effectnpc-gasbz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,189},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>effectnpc-gasbz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,580},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effectnpc-gasbz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>effectnpc-gasbz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>effectnpc-gasbz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>effectnpc-gasbz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,554},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effectnpc-smzq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,171},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{132,140}</string>
            </dict>
            <key>effectnpc-smzq4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,850},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>effectnpc-smzq5.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,430},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>effectnpc-smzq6.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,902},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effectnpc-sszg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,911},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>effectnpc-sszg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,516},{142,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,363},{164,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,50}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,516},{142,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{142,58}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>effectnpc-sszg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>effectnpc-sszg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,580},{124,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,160}}</string>
                <key>sourceSize</key>
                <string>{124,160}</string>
            </dict>
            <key>effectnpc-sszg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,127},{124,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,95}}</string>
                <key>sourceSize</key>
                <string>{124,95}</string>
            </dict>
            <key>effectnpc-sszg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,729},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>effectnpc-sszg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,320},{119,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,33}}</string>
                <key>sourceSize</key>
                <string>{119,33}</string>
            </dict>
            <key>effectnpc-sszg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,320},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,36}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>effectnpc-sszg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{192,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,86}}</string>
                <key>sourceSize</key>
                <string>{192,86}</string>
            </dict>
            <key>effectnpc-sszg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,950},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>effectnpc-tt-js.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,502},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>effectnpc-tt-ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,502},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>effectnpc-tt-wd.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,974},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>effectnpc-tt-xr.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,529},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>effectnpc-tt-xssh.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,911},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>effectnpc-tt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,654},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>effectnpc-tt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,556},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>effectnpc-tt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,537},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>effectnpc-xc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,358},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>effectnpc-xc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,176},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>effectnpc-xc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,758},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>effectnpc-xssh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,502},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>effectnpc-zd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,144},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>effectnpc-zd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,687},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effectnpc-zd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,938},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>nja-priest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,194}}</string>
                <key>sourceSize</key>
                <string>{146,194}</string>
            </dict>
            <key>nja-priest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,386},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{150,176}</string>
            </dict>
            <key>nja-priest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,759},{150,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectnpc.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f748cba20b8dd0838b2fa2b20253604$</string>
            <key>textureFileName</key>
            <string>effectnpc.png</string>
        </dict>
    </dict>
</plist>
