<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>efennuzhiyan00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,382}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,81},{452,382}}</string>
                <key>sourceSize</key>
                <string>{822,570}</string>
            </dict>
            <key>efennuzhiyan00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{436,374}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,89},{436,374}}</string>
                <key>sourceSize</key>
                <string>{822,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-fennuzhiyan3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b0278a8b3c7dbd7ec7a9eb427d6f83$</string>
            <key>textureFileName</key>
            <string>effect-fennuzhiyan3.png</string>
        </dict>
    </dict>
</plist>
