<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebingjian00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,516}}</string>
                <key>offset</key>
                <string>{47,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,38},{491,516}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{415,434}}</string>
                <key>offset</key>
                <string>{88,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,128},{415,434}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
            <key>ebingjian00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,520},{361,350}}</string>
                <key>offset</key>
                <string>{142,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,222},{361,350}}</string>
                <key>sourceSize</key>
                <string>{799,626}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bingjian2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e797eca48e524b98a55ca0d7b1c12eeb$</string>
            <key>textureFileName</key>
            <string>effect-bingjian2.png</string>
        </dict>
    </dict>
</plist>
