<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebihu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,566},{286,404}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,21},{286,404}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{418,444}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{418,444}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,562}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{562,562}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
            <key>ebihu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{238,244}}</string>
                <key>offset</key>
                <string>{20,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,0},{238,244}}</string>
                <key>sourceSize</key>
                <string>{580,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-bihu5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323c99eb6dd1b4903bacc2d3fda209a8$</string>
            <key>textureFileName</key>
            <string>effect-bihu5.png</string>
        </dict>
    </dict>
</plist>
