<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectn-attack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,534},{62,102}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,736},{62,146}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,146}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,962},{58,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,576},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,914},{42,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,322},{202,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>effectn-attack2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,110},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>effectn-attack2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,308},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effectn-attack2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,588},{146,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effectn-bf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,438},{184,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,166}}</string>
                <key>sourceSize</key>
                <string>{184,166}</string>
            </dict>
            <key>effectn-bf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{230,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,242}}</string>
                <key>sourceSize</key>
                <string>{230,242}</string>
            </dict>
            <key>effectn-bf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{318,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,318}}</string>
                <key>sourceSize</key>
                <string>{318,318}</string>
            </dict>
            <key>effectn-bf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{318,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,318}}</string>
                <key>sourceSize</key>
                <string>{318,318}</string>
            </dict>
            <key>effectn-bf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{318,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,318}}</string>
                <key>sourceSize</key>
                <string>{318,318}</string>
            </dict>
            <key>effectn-bf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,318}}</string>
                <key>sourceSize</key>
                <string>{318,318}</string>
            </dict>
            <key>effectn-blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,322},{146,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,104}}</string>
                <key>sourceSize</key>
                <string>{146,104}</string>
            </dict>
            <key>effectn-blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,436},{150,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,122}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>effectn-blood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,204},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>effectn-blood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>effectn-eattack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,470},{62,102}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,958},{62,146}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,146}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{58,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,526},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,736},{42,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,234},{202,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectnew.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8490090ba6d0fe667122340072eda3f2$</string>
            <key>textureFileName</key>
            <string>effectnew.png</string>
        </dict>
    </dict>
</plist>
