<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>esiwangzuzhou00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{72,154}}</string>
                <key>offset</key>
                <string>{14,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{618,386},{72,154}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{188,238}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{532,302},{188,238}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,246}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,291},{232,246}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{228,240}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{528,292},{228,240}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,464},{160,204}}</string>
                <key>offset</key>
                <string>{-9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,297},{160,204}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,406},{130,130}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,319},{130,130}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,538},{98,116}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,345},{98,116}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,920},{98,116}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{592,346},{98,116}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,920},{98,116}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{592,347},{98,116}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,920},{98,116}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{592,347},{98,116}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,216},{162,188}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,301},{162,188}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,706},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,250},{182,212}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,272},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,492},{182,212}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,272},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,706},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,706},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{182,212}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,273},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,250},{182,212}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,272},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,732},{182,212}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,274},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{182,212}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,276},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>esiwangzuzhou00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{160,180}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{562,293},{160,180}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-siwangzuzhou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa772941b55fb0dee38cbc47e36bf2e$</string>
            <key>textureFileName</key>
            <string>effect-siwangzuzhou.png</string>
        </dict>
    </dict>
</plist>
