<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>efangzhu00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{134,136}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,95},{134,136}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,458},{114,116}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,105},{114,116}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,676},{92,96}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,115},{92,96}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,268},{70,100}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,100},{70,100}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,960},{62,100}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,87},{62,100}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{26,50}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,73},{26,50}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,156},{32,62}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{32,62}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,296},{50,82}}</string>
                <key>offset</key>
                <string>{-15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,43},{50,82}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,960},{58,86}}</string>
                <key>offset</key>
                <string>{-19,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{58,86}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,774},{90,92}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{90,92}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,370},{120,158}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{120,158}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{128,168}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{128,168}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{134,178}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{134,178}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,186}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,186}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,530},{148,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{148,138}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{152,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,46},{152,142}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,190},{156,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,41},{156,148}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,850},{144,134}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,55},{144,134}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,700},{148,138}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,51},{148,138}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{152,116}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,73},{152,116}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,492},{138,112}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,69},{138,112}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,944},{76,98}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,61},{76,98}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,340},{116,116}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{116,116}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,140},{126,122}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,39},{126,122}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,824},{134,128}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{134,128}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,680},{142,134}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,27},{142,134}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,348},{132,142}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{132,142}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{136,150}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{136,150}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{140,158}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{140,158}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,850},{146,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,77},{146,86}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,156},{138,92}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,72},{138,92}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,492},{142,94}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,69},{142,94}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,576},{114,98}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{114,98}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{120,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,60},{120,104}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,814},{128,112}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{128,112}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,680},{132,120}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{132,120}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
            <key>efangzhu00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,632},{46,84}}</string>
                <key>offset</key>
                <string>{52,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,80},{46,84}}</string>
                <key>sourceSize</key>
                <string>{164,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect-fangzhu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b86abf7fb60e34d3239e3f0ff0aa870$</string>
            <key>textureFileName</key>
            <string>effect-fangzhu.png</string>
        </dict>
    </dict>
</plist>
