<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effectn-attack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,372},{62,102}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,478},{62,146}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,146}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,206},{58,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,310},{42,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-attack1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{202,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>effectn-attack2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,110},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>effectn-attack2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,436},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effectn-attack2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{146,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effectn-blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{146,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,104}}</string>
                <key>sourceSize</key>
                <string>{146,104}</string>
            </dict>
            <key>effectn-blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,354},{150,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,122}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>effectn-blood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,204},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>effectn-blood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>effectn-eattack1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,308},{62,102}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,384},{62,146}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,146}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{58,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,206},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,266},{42,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,176}}</string>
                <key>sourceSize</key>
                <string>{62,176}</string>
            </dict>
            <key>effectn-eattack1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effectnew.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cda7f1725b9b0bd9cb399c69bcf7ab7$</string>
            <key>textureFileName</key>
            <string>effectnew.png</string>
        </dict>
    </dict>
</plist>
