<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-goblin4-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>enemy-goblin4-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>enemy-goblin4-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>enemy-goblin4-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,37},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>enemy-goblin4-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,116},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>enemy-goblin4-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>enemy-goblin4-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,65},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>enemy-goblin4-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,89},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egoblin4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47818d14158da3e7841913f38d971db9$</string>
            <key>textureFileName</key>
            <string>egoblin4.png</string>
        </dict>
    </dict>
</plist>
