<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-goblin-2-chest(MIRA-PC--MiRa--2014-05-15-17,35,08).png</key>
            <dict>
                <key>frame</key>
                <string>{{141,186},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>enemy-goblin-2-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,229},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>enemy-goblin-2-head(MIRA-PC--MiRa--2014-05-15-17,35,08).png</key>
            <dict>
                <key>frame</key>
                <string>{{142,97},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>enemy-goblin-2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>enemy-goblin-2-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>enemy-goblin-2-lefthand(MIRA-PC--MiRa--2014-05-15-17,35,08).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,227},{39,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,59}}</string>
                <key>sourceSize</key>
                <string>{39,59}</string>
            </dict>
            <key>enemy-goblin-2-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,274},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>enemy-goblin-2-leftleg(MIRA-PC--MiRa--2014-05-15-17,35,08).png</key>
            <dict>
                <key>frame</key>
                <string>{{210,186},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>enemy-goblin-2-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,288},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>enemy-goblin-2-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,09).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{57,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,167}}</string>
                <key>sourceSize</key>
                <string>{57,167}</string>
            </dict>
            <key>enemy-goblin-2-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{46,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,133}}</string>
                <key>sourceSize</key>
                <string>{46,133}</string>
            </dict>
            <key>enemy-goblin-2-mainweapon2(MIRA-PC--MiRa--2014-05-15-17,35,09).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,175}}</string>
                <key>sourceSize</key>
                <string>{29,175}</string>
            </dict>
            <key>enemy-goblin-2-mainweapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{23,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,138}}</string>
                <key>sourceSize</key>
                <string>{23,138}</string>
            </dict>
            <key>enemy-goblin-2-righthand(MIRA-PC--MiRa--2014-05-15-17,35,09).png</key>
            <dict>
                <key>frame</key>
                <string>{{139,239},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>enemy-goblin-2-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,165},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>enemy-goblin-2-rightleg(MIRA-PC--MiRa--2014-05-15-17,35,09).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,193},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>enemy-goblin-2-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,288},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egoblin-2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810f623b0abb1ea6fdcee5e60b0f2345$</string>
            <key>textureFileName</key>
            <string>egoblin-2.png</string>
        </dict>
    </dict>
</plist>
