<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-ogre-3-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>enemy-ogre-3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>enemy-ogre-3-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>enemy-ogre-3-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,81},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>enemy-ogre-3-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,122}}</string>
                <key>sourceSize</key>
                <string>{72,122}</string>
            </dict>
            <key>enemy-ogre-3-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,44},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy-ogre-3-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eogre3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466788ea127d2301c6c8795ba11d2656$</string>
            <key>textureFileName</key>
            <string>eogre3.png</string>
        </dict>
    </dict>
</plist>
