<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-ogreboss-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>enemy-ogreboss-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,75},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>enemy-ogreboss-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,119}}</string>
                <key>sourceSize</key>
                <string>{62,119}</string>
            </dict>
            <key>enemy-ogreboss-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,156},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>enemy-ogreboss-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{71,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,109}}</string>
                <key>sourceSize</key>
                <string>{71,109}</string>
            </dict>
            <key>enemy-ogreboss-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{64,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,111}}</string>
                <key>sourceSize</key>
                <string>{64,111}</string>
            </dict>
            <key>enemy-ogreboss-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,156},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eogreboss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55902e1d473f1cb76535f65cd1234fc$</string>
            <key>textureFileName</key>
            <string>eogreboss.png</string>
        </dict>
    </dict>
</plist>
