<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-orcs-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,130},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>enemy-orcs-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>enemy-orcs-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>enemy-orcs-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,83},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>enemy-orcs-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,174},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>enemy-orcs-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>enemy-orcs-1-mainweapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>enemy-orcs-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,83},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>enemy-orcs-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,213},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eorcs.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e396d92d8b0b4b69a3388e555d9cf9e$</string>
            <key>textureFileName</key>
            <string>eorcs.png</string>
        </dict>
    </dict>
</plist>
