<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage-lefthandeffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,110},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>mage-mainweaponeffect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,82},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>mage-mainweaponeffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,74},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>mage-mainweaponeffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,38},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>mage-mainweaponeffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>mage-mainweaponeffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>mage-mainweaponeffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>mage-mainweaponeffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>mage-mainweaponeffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipmenteffect.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3c6bbfbc3ab7c3f048dd87b2d72734$</string>
            <key>textureFileName</key>
            <string>equipmenteffect.png</string>
        </dict>
    </dict>
</plist>
