<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-robber2-1-chest(MIRA-PC--MiRa--2014-05-15-17,35,29).png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>enemy-robber2-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>enemy-robber2-1-head(MIRA-PC--MiRa--2014-05-15-17,35,29).png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>enemy-robber2-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,89},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>enemy-robber2-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>enemy-robber2-1-lefthand(MIRA-PC--MiRa--2014-05-15-17,35,30).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>enemy-robber2-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>enemy-robber2-1-leftleg(MIRA-PC--MiRa--2014-05-15-17,35,30).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,39},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>enemy-robber2-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,50},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>enemy-robber2-1-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,30).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>enemy-robber2-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>enemy-robber2-1-righthand(MIRA-PC--MiRa--2014-05-15-17,35,30).png</key>
            <dict>
                <key>frame</key>
                <string>{{201,36},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>enemy-robber2-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>enemy-robber2-1-rightleg(MIRA-PC--MiRa--2014-05-15-17,35,30).png</key>
            <dict>
                <key>frame</key>
                <string>{{139,75},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>enemy-robber2-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,63},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>erobber2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9a62ee2f80cd3cd25fedd952e810fd$</string>
            <key>textureFileName</key>
            <string>erobber2.png</string>
        </dict>
    </dict>
</plist>
