<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-robber4-1-chest(MIRA-PC--MiRa--2014-05-15-17,35,31).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,167},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>enemy-robber4-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>enemy-robber4-1-head(MIRA-PC--MiRa--2014-05-15-17,35,31).png</key>
            <dict>
                <key>frame</key>
                <string>{{44,167},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>enemy-robber4-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>enemy-robber4-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>enemy-robber4-1-lefthand(MIRA-PC--MiRa--2014-05-15-17,35,32).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,119},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>enemy-robber4-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,80},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>enemy-robber4-1-leftleg(MIRA-PC--MiRa--2014-05-15-17,35,32).png</key>
            <dict>
                <key>frame</key>
                <string>{{124,80},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>enemy-robber4-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,128},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>enemy-robber4-1-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,32).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>enemy-robber4-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>enemy-robber4-1-righthand(MIRA-PC--MiRa--2014-05-15-17,35,32).png</key>
            <dict>
                <key>frame</key>
                <string>{{103,124},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>enemy-robber4-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,80},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>enemy-robber4-1-rightleg(MIRA-PC--MiRa--2014-05-15-17,35,32).png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>enemy-robber4-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,43},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>erobber4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed6065d1212a3725b95b01767cf0fefd$</string>
            <key>textureFileName</key>
            <string>erobber4.png</string>
        </dict>
    </dict>
</plist>
