<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-skeleton-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>enemy-skeleton-1-head(MIRA-PC--MiRa--2014-05-15-17,35,34).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>enemy-skeleton-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,92},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>enemy-skeleton-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>enemy-skeleton-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,68},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>enemy-skeleton-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>enemy-skeleton-1-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,34).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{40,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{40,74}</string>
            </dict>
            <key>enemy-skeleton-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,85}}</string>
                <key>sourceSize</key>
                <string>{38,85}</string>
            </dict>
            <key>enemy-skeleton-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,36},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>enemy-skeleton-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eskeleton3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b0df9b0294076055a555007ef44068d$</string>
            <key>textureFileName</key>
            <string>eskeleton3.png</string>
        </dict>
    </dict>
</plist>
