<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-skeleton-1-chest(MIRA-PC--MiRa--2014-05-15-17,35,34).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,36},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>enemy-skeleton-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>enemy-skeleton-1-head(MIRA-PC--MiRa--2014-05-15-17,35,34).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>enemy-skeleton-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,139},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>enemy-skeleton-1-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>enemy-skeleton-1-lefthand(MIRA-PC--MiRa--2014-05-15-17,35,34).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,196},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>enemy-skeleton-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>enemy-skeleton-1-leftleg(MIRA-PC--MiRa--2014-05-15-17,35,35).png</key>
            <dict>
                <key>frame</key>
                <string>{{65,106},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>enemy-skeleton-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,102},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>enemy-skeleton-1-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,35).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>enemy-skeleton-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>enemy-skeleton-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,70},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>enemy-skeleton-1-rightleg(MIRA-PC--MiRa--2014-05-15-17,35,35).png</key>
            <dict>
                <key>frame</key>
                <string>{{82,219},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>enemy-skeleton-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,196},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eskeleton4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ce972c90296beff838b8104458538d$</string>
            <key>textureFileName</key>
            <string>eskeleton4.png</string>
        </dict>
    </dict>
</plist>
