<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-skeleton-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,76},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>enemy-skeleton-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>enemy-skeleton-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>enemy-skeleton-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,43},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>enemy-skeleton-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,109}}</string>
                <key>sourceSize</key>
                <string>{38,109}</string>
            </dict>
            <key>enemy-skeleton-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,89},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>enemy-skeleton-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,58},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eskeleton2.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b1874a31bfdd1f908a3d5c83f9b80e$</string>
            <key>textureFileName</key>
            <string>eskeleton2.png</string>
        </dict>
    </dict>
</plist>
