<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-slimeboss-1-crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>enemy-slimeboss-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,140}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>enemy-slimeboss-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,155},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>enemy-slimeboss-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{151,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,73}}</string>
                <key>sourceSize</key>
                <string>{151,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eslimeboss.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6778d5a491ff62a014488d5cba4d4301$</string>
            <key>textureFileName</key>
            <string>eslimeboss.png</string>
        </dict>
    </dict>
</plist>
