<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-swordboss-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>enemy-swordboss-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{90,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>enemy-swordboss-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,182},{41,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,60}}</string>
                <key>sourceSize</key>
                <string>{41,60}</string>
            </dict>
            <key>enemy-swordboss-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,151},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>enemy-swordboss-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>enemy-swordboss-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>enemy-swordboss-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,94},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eswordboss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f88c9262dafad122c941389ff0b9180a$</string>
            <key>textureFileName</key>
            <string>eswordboss.png</string>
        </dict>
    </dict>
</plist>
