<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-thief-3-chest(MIRA-PC--MiRa--2014-05-15-17,35,44).png</key>
            <dict>
                <key>frame</key>
                <string>{{35,226},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>enemy-thief-3-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>enemy-thief-3-head(MIRA-PC--MiRa--2014-05-15-17,35,44).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>enemy-thief-3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>enemy-thief-3-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>enemy-thief-3-lefthand(MIRA-PC--MiRa--2014-05-15-17,35,44).png</key>
            <dict>
                <key>frame</key>
                <string>{{103,154},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>enemy-thief-3-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,193},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>enemy-thief-3-leftleg(MIRA-PC--MiRa--2014-05-15-17,35,44).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,75},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>enemy-thief-3-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,115},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>enemy-thief-3-mainweapon(MIRA-PC--MiRa--2014-05-15-17,35,44).png</key>
            <dict>
                <key>frame</key>
                <string>{{68,155},{33,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,68}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>enemy-thief-3-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>enemy-thief-3-righthand(MIRA-PC--MiRa--2014-05-15-17,35,45).png</key>
            <dict>
                <key>frame</key>
                <string>{{69,75},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>enemy-thief-3-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,225},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>enemy-thief-3-rightleg(MIRA-PC--MiRa--2014-05-15-17,35,45).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,218},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>enemy-thief-3-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,114},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ethief3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01638be29fc78e34ff1d20417067e695$</string>
            <key>textureFileName</key>
            <string>ethief3.png</string>
        </dict>
    </dict>
</plist>
