<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forge3-common-btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>forge3-common-btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>forge3-common-piece1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,306},{45,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>forge3-common-piece2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,353},{45,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>forge3-common-piece3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,261},{43,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,50}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>forge3-common-piece4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,214},{45,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>forge3-common-tabdz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>forge3-common-tabdz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>forge3-common-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,329},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forge3-common.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9da3b6855129a4f2dd030c9785fb116$</string>
            <key>textureFileName</key>
            <string>forge3-common.png</string>
        </dict>
    </dict>
</plist>
