<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forge1-960-bg960.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{577,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,461}}</string>
                <key>sourceSize</key>
                <string>{577,461}</string>
            </dict>
            <key>forge1-960-bg9602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{577,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,461}}</string>
                <key>sourceSize</key>
                <string>{577,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forge1-960.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f966107b96d79333c782ef0c4cbbb6$</string>
            <key>textureFileName</key>
            <string>forge1-960.png</string>
        </dict>
    </dict>
</plist>
