<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forge2-common-btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>forge2-common-btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>forge2-common-star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,404},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>forge2-common-star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,461},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>forge2-common-star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,289},{33,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,4}}</string>
                <key>sourceSize</key>
                <string>{33,4}</string>
            </dict>
            <key>forge2-common-star3bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{285,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,4}}</string>
                <key>sourceSize</key>
                <string>{285,4}</string>
            </dict>
            <key>forge2-common-tabqh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>forge2-common-tabqh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,289},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>forge2-common-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forge2-common.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b26d51896216ec37fd5adb678847e43c$</string>
            <key>textureFileName</key>
            <string>forge2-common.png</string>
        </dict>
    </dict>
</plist>
