<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>index-btn-bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,758},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,634},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-bounty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,600},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-bounty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,476},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-changejob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,442},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,250},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,170},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-fight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,792},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-fight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-forge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,494},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-forge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,318},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,284},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-mail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,778},{78,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-btn-mail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,792},{78,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-btn-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,412},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,330},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-recharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,916},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-recharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,916},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,916},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,916},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-store1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-store2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,160},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-union3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
            <key>index-jl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,288},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,280},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,271},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,262},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,262},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,262},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-mrrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,86},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-mrrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{596,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,20}}</string>
                <key>sourceSize</key>
                <string>{596,20}</string>
            </dict>
            <key>index-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,390},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>index-qdjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,576},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-qdjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,494},{96,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,734},{74,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,658},{74,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-roleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,170},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,65.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>index-talk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,916},{82,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-talk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,916},{82,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>index-zdlicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,314},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d756d87851e82d5ed6fc08234de2d157$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
