<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jewel-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,65}}</string>
                <key>sourceSize</key>
                <string>{579,65}</string>
            </dict>
            <key>jewel-btn1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,540},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,443},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,540},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,735},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,609},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,483},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,443},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,414},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,317},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,300},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,288},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,162},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,117},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btncz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,162},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jewel-btncz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jewel-gradebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,82},{293,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,78}}</string>
                <key>sourceSize</key>
                <string>{293,78}</string>
            </dict>
            <key>jewel-gradebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{293,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,78}}</string>
                <key>sourceSize</key>
                <string>{293,78}</string>
            </dict>
            <key>jewel-jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,317},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>jewel-sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,385},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>jewel-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,334},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>jewel-vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,305},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>jewel-vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,117},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>jewel-vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,285},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>jewel-vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,224},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>jewel-vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,243},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>jewel-vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,205},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>jewel-vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,185},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,265},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>jewel-vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,165},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,145},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{280,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,272}}</string>
                <key>sourceSize</key>
                <string>{280,272}</string>
            </dict>
            <key>jewel-vipbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{566,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,42}}</string>
                <key>sourceSize</key>
                <string>{566,42}</string>
            </dict>
            <key>jewel-vipbg960.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,113},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,202}</string>
            </dict>
            <key>jewel-zhs.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,381},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,60}}</string>
                <key>sourceSize</key>
                <string>{82,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jewel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:826a7f9cbd011ccb67e192ecacf006f0$</string>
            <key>textureFileName</key>
            <string>jewel.png</string>
        </dict>
    </dict>
</plist>
