<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jewel-btn1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,536},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,763},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,580},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,835},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,652},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,454},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,437},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,410},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,410},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,284},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,254},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btn8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,328},{124,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,181}}</string>
                <key>sourceSize</key>
                <string>{124,181}</string>
            </dict>
            <key>jewel-btncz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,139},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jewel-btncz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jewel-gradebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{293,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,78}}</string>
                <key>sourceSize</key>
                <string>{293,78}</string>
            </dict>
            <key>jewel-gradebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{293,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,78}}</string>
                <key>sourceSize</key>
                <string>{293,78}</string>
            </dict>
            <key>jewel-jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,46},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>jewel-novipbg960.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,82},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jewel-sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,208},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>jewel-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,248},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>jewel-vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,64},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>jewel-vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,328},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>jewel-vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,44},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>jewel-vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,117},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>jewel-vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>jewel-vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,117},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>jewel-vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,117},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,24},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>jewel-vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,111},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,83},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>jewel-vipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{280,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,272}}</string>
                <key>sourceSize</key>
                <string>{280,272}</string>
            </dict>
            <key>jewel-vipbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,42}}</string>
                <key>sourceSize</key>
                <string>{566,42}</string>
            </dict>
            <key>jewel-vipbg960.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,46},{280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>jewel-zhs.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,124},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,60}}</string>
                <key>sourceSize</key>
                <string>{82,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jewel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4188bf3161c54c0583f0c781bd501e0c$</string>
            <key>textureFileName</key>
            <string>jewel.png</string>
        </dict>
    </dict>
</plist>
