<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuan-jlbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,42}}</string>
                <key>sourceSize</key>
                <string>{446,42}</string>
            </dict>
            <key>jiesuan-jyzbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,136},{260,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,34}}</string>
                <key>sourceSize</key>
                <string>{260,34}</string>
            </dict>
            <key>jiesuan-loseshield.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,46},{287,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,147}}</string>
                <key>sourceSize</key>
                <string>{287,147}</string>
            </dict>
            <key>jiesuan-sldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{90,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,19}}</string>
                <key>sourceSize</key>
                <string>{90,19}</string>
            </dict>
            <key>jiesuan-sldl.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,102},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>jiesuan-sldm.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,94},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>jiesuan-sldr.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,94},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>jiesuan-winshield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{288,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,147}}</string>
                <key>sourceSize</key>
                <string>{288,147}</string>
            </dict>
            <key>jiesuan-wintext.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{132,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,39}}</string>
                <key>sourceSize</key>
                <string>{132,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f3593a71e54b30f330c849e779c9a7$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
