<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jjc-avatar-btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,362},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>jjc-avatar-btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,240},{180,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>jjc-avatar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,118},{180,120}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{180,120}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>jjc-dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,60},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>jjc-ddvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>jjc-jb1-chang.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,292},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>jjc-jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,170}}</string>
                <key>sourceSize</key>
                <string>{264,170}</string>
            </dict>
            <key>jjc-jb2-hour.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,114},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>jjc-jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{264,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,166}}</string>
                <key>sourceSize</key>
                <string>{264,166}</string>
            </dict>
            <key>jjc-jb3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{172,102}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{172,102}}</string>
                <key>sourceSize</key>
                <string>{264,166}</string>
            </dict>
            <key>jjc-jb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,484},{172,102}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{172,102}}</string>
                <key>sourceSize</key>
                <string>{264,166}</string>
            </dict>
            <key>jjc-jb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{264,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,166}}</string>
                <key>sourceSize</key>
                <string>{264,166}</string>
            </dict>
            <key>jjc-jrcc.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>jjc-tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,588},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jjc-tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,588},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>jjc-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,182},{108,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,46}}</string>
                <key>sourceSize</key>
                <string>{108,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jjc.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88d9276e3b1b86c5340e021ed29beb06$</string>
            <key>textureFileName</key>
            <string>jjc.png</string>
        </dict>
    </dict>
</plist>
