<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeoniconbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>dungeoniconbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>dungeonms.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,88},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>dungeonname0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,603},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>dungeonname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,575},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,547},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,519},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,491},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,463},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,619},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>dungeonname5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,435},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname6.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,634},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname7.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,532},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>dungeonname8.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,546},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname9.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,458},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonnum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,316},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>dungeonnum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,647},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>dungeonnum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,432},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dungeonnum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,88},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>dungeonnum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,647},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>dungeonnum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,406},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>dungeonnum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,619},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>dungeonrt.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{452,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,84}}</string>
                <key>sourceSize</key>
                <string>{452,84}</string>
            </dict>
            <key>map-btn-wjms1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,300},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-wjms2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,210},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-zcms1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,194},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-zcms2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,88},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,532},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>map-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,263},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>map-rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,297}}</string>
                <key>sourceSize</key>
                <string>{480,297}</string>
            </dict>
            <key>map-ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,455},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>map-ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>map-xzzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,370},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>mapicon-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{132,169}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,169}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>mapicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,540},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,408},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,406},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,450},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,316},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,301},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapiconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,435},{124,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,145}}</string>
                <key>sourceSize</key>
                <string>{124,145}</string>
            </dict>
            <key>mapiconm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{1,1}}</string>
                <key>offset</key>
                <string>{-56.5,56.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>mapiconmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,127},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,134}}</string>
                <key>sourceSize</key>
                <string>{114,134}</string>
            </dict>
            <key>mapiconselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>xdungeonname0.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,689},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>xdungeonname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,340},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,652},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>xdungeonname11.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,615},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>xdungeonname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,451},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,301},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,582},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>xdungeonname5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,417},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,210},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,347},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>xdungeonname8.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,379},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname9.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,578},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6c23818bb0b174d7c117bd61161d7f$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
