<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map3-btn-5sd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,220},{246,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,74}}</string>
                <key>sourceSize</key>
                <string>{246,74}</string>
            </dict>
            <key>map3-btn-5sd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,190},{246,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,74}}</string>
                <key>sourceSize</key>
                <string>{246,74}</string>
            </dict>
            <key>map3-btn-qd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>map3-btn-qd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,266},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>map3-btn-sd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,114},{246,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,74}}</string>
                <key>sourceSize</key>
                <string>{246,74}</string>
            </dict>
            <key>map3-btn-sd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{246,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,74}}</string>
                <key>sourceSize</key>
                <string>{246,74}</string>
            </dict>
            <key>map3-enemy1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,354},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>map3-enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,220},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{50,44}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>map3-enemy2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,216},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>map3-enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,468},{50,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{50,42}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>map3-enemy3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,286},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>map3-enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,468},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{46,42}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>map3-jd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{6,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,24}}</string>
                <key>sourceSize</key>
                <string>{6,24}</string>
            </dict>
            <key>map3-jd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,60},{438,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,24}}</string>
                <key>sourceSize</key>
                <string>{438,24}</string>
            </dict>
            <key>map3-jd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,500},{6,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,24}}</string>
                <key>sourceSize</key>
                <string>{6,24}</string>
            </dict>
            <key>map3-jdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,34}}</string>
                <key>sourceSize</key>
                <string>{460,34}</string>
            </dict>
            <key>map3-sdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,38},{176,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,136}}</string>
                <key>sourceSize</key>
                <string>{176,136}</string>
            </dict>
            <key>map3-sdc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,266},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>map3-sdc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>map3-sdlistbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{446,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,42}}</string>
                <key>sourceSize</key>
                <string>{446,42}</string>
            </dict>
            <key>map3-sdtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,468},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>map3-sdwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,60},{158,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,52}}</string>
                <key>sourceSize</key>
                <string>{158,52}</string>
            </dict>
            <key>map3-xzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,266},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747ccaab99dc397efcb7bce874502d35$</string>
            <key>textureFileName</key>
            <string>map3.png</string>
        </dict>
    </dict>
</plist>
