<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nja-m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,460},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nja-m10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,518},{64,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>nja-m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,518},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>nja-m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,396},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>nja-m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,184},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>nja-m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,380},{136,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>nja-m6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,384},{156,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>nja-m7.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,302},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>nja-m8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,206},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>nja-m9.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,302},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>nja-p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,584},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nja-p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,308},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>nja-p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,438},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>nja-p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>nja-p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,158},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>nja-p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,308},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{150,176}</string>
            </dict>
            <key>nja-p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,160},{146,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,194}}</string>
                <key>sourceSize</key>
                <string>{146,194}</string>
            </dict>
            <key>nja-w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{156,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,212}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{154,210}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,210}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{92,180}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{92,180}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,266},{56,148}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{56,148}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,202},{42,86}}</string>
                <key>offset</key>
                <string>{-53,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,126},{42,86}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,202}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,198}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,202},{180,190}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{180,190}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{144,180}}</string>
                <key>offset</key>
                <string>{-47,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,180}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,356},{80,156}}</string>
                <key>offset</key>
                <string>{-78,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,156}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newjobattack.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2d29bc4c4cb8a26cf64f96020a413b7$</string>
            <key>textureFileName</key>
            <string>newjobattack.png</string>
        </dict>
    </dict>
</plist>
