<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nja-m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,742},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>nja-m10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,666},{64,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,74}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>nja-m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,738},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>nja-m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,738},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>nja-m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,624},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>nja-m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,600},{136,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>nja-m6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{156,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>nja-m7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,290},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>nja-m8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>nja-m9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>nja-w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,202},{156,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,212}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{154,210}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,210}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,360},{92,180}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{92,180}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,542},{56,148}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,60},{56,148}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,202},{42,86}}</string>
                <key>offset</key>
                <string>{-53,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,126},{42,86}}</string>
                <key>sourceSize</key>
                <string>{156,212}</string>
            </dict>
            <key>nja-wb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,202}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,198}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{180,190}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{180,190}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{144,180}}</string>
                <key>offset</key>
                <string>{-47,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,180}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>nja-wb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,542},{80,156}}</string>
                <key>offset</key>
                <string>{-78,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,156}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newjobattack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7581fd37d3e35c78f1c2b590253353bd$</string>
            <key>textureFileName</key>
            <string>newjobattack.png</string>
        </dict>
    </dict>
</plist>
