<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creat-female1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,891},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-female2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,765},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-idback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,131}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,131}}</string>
                <key>sourceSize</key>
                <string>{528,141}</string>
            </dict>
            <key>creat-mageicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,170},{166,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,465}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
            <key>creat-mageicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{166,435}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,435}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
            <key>creat-male1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,639},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-male2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-priesticon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{166,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,465}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
            <key>creat-priesticon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,338},{166,435}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,435}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
            <key>creat-refresh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-refresh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>creat-title-cjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,263},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>creat-title-xzzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,135},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
            <key>creat-warrioricon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{166,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,465}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
            <key>creat-warrioricon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{166,435}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,435}}</string>
                <key>sourceSize</key>
                <string>{172,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newuser.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33a5de50a76f9fffa70299af1d745e2f$</string>
            <key>textureFileName</key>
            <string>newuser.png</string>
        </dict>
    </dict>
</plist>
