<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-archaeologist-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,88},{34,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{34,30}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>npc-archaeologist-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,64}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc-archaeologist-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,38},{24,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{24,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>npc-archaeologist-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{34,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>npc-archaeologist-1-magnifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>npc-archaeologist-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,64},{22,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{22,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>npc-archaeologist-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{32,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npcarchaeologist.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92f45dac2e44ebc2f5cbb6424d02817e$</string>
            <key>textureFileName</key>
            <string>npcarchaeologist.png</string>
        </dict>
    </dict>
</plist>
