<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranking-btn-hy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,493},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>ranking-btn-hy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,493},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>ranking-btn-qy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,494},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>ranking-btn-qy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,376},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>ranking-btn-wdpm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>ranking-btn-wdpm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,232},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>ranking-btn-zm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,454},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>ranking-btn-zm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,456},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>ranking-btn-zq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,454},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>ranking-btn-zq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,416},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>ranking-btnjjc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnjjc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{113,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnph1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,117},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnph2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnsg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnsg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,339},{113,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnsjfb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,52},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnsjfb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,378},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnwj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-btnwj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,224},{113,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>ranking-pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,558},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>ranking-patternpk.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,550},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>ranking-patternsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,534},{74,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>ranking-patternsjfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,496},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>ranking-patternwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,533},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>ranking-sgs.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,140},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>ranking-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,330},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>ranking-titlepk.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>ranking-titlesg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,232},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>ranking-titlesjfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,48}}</string>
                <key>sourceSize</key>
                <string>{206,48}</string>
            </dict>
            <key>ranking-titlewj.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,282},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>ranking-wjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,52},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranking.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c963995e47a92a6e71a1902c78b662$</string>
            <key>textureFileName</key>
            <string>ranking.png</string>
        </dict>
    </dict>
</plist>
