<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ff3-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{46,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ff3-helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,44}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{54,44}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ff3-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,46},{24,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{24,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>ff3-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{32,36}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ff3-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,46},{40,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{40,26}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ff3-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{30,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{30,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rfasion-female3.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e09f42688eac70a6c6e8d4b8a95c40$</string>
            <key>textureFileName</key>
            <string>rfasion-female3.png</string>
        </dict>
    </dict>
</plist>
