<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ff1-chest-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{60,54}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ff1-helmet-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{76,54}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ff1-lefthand-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{34,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,47}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>ff1-leftleg-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ff1-righthand-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{44,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ff1-rightleg-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,50},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rfasion-female1-c.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6c1adbf36ef6b57bcf115ac4c31d177$</string>
            <key>textureFileName</key>
            <string>rfasion-female1-c.png</string>
        </dict>
    </dict>
</plist>
