<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ff4-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ff4-helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{20,20}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{20,20}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ff4-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,90},{28,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{28,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>ff4-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{34,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ff4-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{40,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{40,28}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ff4-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,50},{32,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{32,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rfasion-female4.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e2db683825395d50602faeab395a41$</string>
            <key>textureFileName</key>
            <string>rfasion-female4.png</string>
        </dict>
    </dict>
</plist>
