<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rfasion-helmetsg1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{22,44}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{22,44}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>rfasion-helmetsg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,44}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,20},{26,44}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rfasion-helmetsg1.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bbdde3a5228451963f54a0ec5004a9c$</string>
            <key>textureFileName</key>
            <string>rfasion-helmetsg1.png</string>
        </dict>
    </dict>
</plist>
