<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage9-chest-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,42},{54,44}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{54,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mage9-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{58,58}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mage9-lefthand-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,142},{24,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{24,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>mage9-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{24,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{24,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>mage9-leftleg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{34,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mage9-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,116},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{34,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mage9-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,121}}</string>
                <key>sourceSize</key>
                <string>{38,121}</string>
            </dict>
            <key>mage9-righthand-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{40,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{40,26}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>mage9-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{40,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{40,26}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>mage9-rightleg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{32,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mage9-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,152},{32,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mage9-weapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,168},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{35,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rmage9.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4eb918df6fca16a6cc4de7022e2578$</string>
            <key>textureFileName</key>
            <string>rmage9.png</string>
        </dict>
    </dict>
</plist>
