<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectf-avatarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{528,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,159}}</string>
                <key>sourceSize</key>
                <string>{528,159}</string>
            </dict>
            <key>selectf-avatarvipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{528,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,159}}</string>
                <key>sourceSize</key>
                <string>{528,159}</string>
            </dict>
            <key>selectf-change1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,172},{66,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{66,111}</string>
            </dict>
            <key>selectf-change2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,104},{66,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{66,111}</string>
            </dict>
            <key>selectf-leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,36},{66,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{66,111}</string>
            </dict>
            <key>selectf-tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,32}}</string>
                <key>sourceSize</key>
                <string>{282,32}</string>
            </dict>
            <key>selectf-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{126,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,35}}</string>
                <key>sourceSize</key>
                <string>{126,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectf.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a44e6515758104fda3b735f03788d482$</string>
            <key>textureFileName</key>
            <string>selectf.png</string>
        </dict>
    </dict>
</plist>
