<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop-buttonvipbag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-buttonvipbag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,117},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-tablb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-tablb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,50},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-tabzb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-tabzb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{113,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,132}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>shop-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,50},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>shop-titlevipbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>shop-titlezb.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55398aecdb38341cbae01d5ce3cf0ae0$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
