<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talk-btn-add1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{150,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,55}</string>
            </dict>
            <key>talk-btn-add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{150,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,55}</string>
            </dict>
            <key>talk-btn-info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{108,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,51}}</string>
                <key>sourceSize</key>
                <string>{112,55}</string>
            </dict>
            <key>talk-btn-info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,810},{108,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,51}}</string>
                <key>sourceSize</key>
                <string>{112,55}</string>
            </dict>
            <key>talk-btn-message1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{108,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,51}}</string>
                <key>sourceSize</key>
                <string>{112,55}</string>
            </dict>
            <key>talk-btn-message2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,802},{108,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,51}}</string>
                <key>sourceSize</key>
                <string>{112,55}</string>
            </dict>
            <key>talk-btn-send1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,674},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>talk-btn-send2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,546},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>talk-inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{445,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,70}}</string>
                <key>sourceSize</key>
                <string>{445,70}</string>
            </dict>
            <key>talk-tabsj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>talk-tabsj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>talk-tabsl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>talk-tabsl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{113,130}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>talk-titlesj.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,449},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>talk-titlesl.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,497},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>talkline.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,232},{576,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,10}}</string>
                <key>sourceSize</key>
                <string>{576,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talk.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612d6d902e1ecdabb29746acc70e0794$</string>
            <key>textureFileName</key>
            <string>talk.png</string>
        </dict>
    </dict>
</plist>
