<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yueka-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{276,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,118}}</string>
                <key>sourceSize</key>
                <string>{276,118}</string>
            </dict>
            <key>yueka-1m.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,62},{1,1}}</string>
                <key>offset</key>
                <string>{-137.5,58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{276,118}</string>
            </dict>
            <key>yueka-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,62},{270,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,118}}</string>
                <key>sourceSize</key>
                <string>{270,118}</string>
            </dict>
            <key>yueka-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{561,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,475}}</string>
                <key>sourceSize</key>
                <string>{561,475}</string>
            </dict>
            <key>yueka-btnfh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,394},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>yueka-btnfh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,288},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>yueka-btngm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,280},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>yueka-btngm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,182},{242,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,104}}</string>
                <key>sourceSize</key>
                <string>{242,104}</string>
            </dict>
            <key>yueka-swgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{294,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,58}}</string>
                <key>sourceSize</key>
                <string>{294,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yueka.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef61f9793028dfef9c307bdf8e3a21a$</string>
            <key>textureFileName</key>
            <string>yueka.png</string>
        </dict>
    </dict>
</plist>
