<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.tringame.everdungeon.pay6</string>
	<string>com.tringame.everdungeon.pay12</string>
	<string>com.tringame.everdungeon.pay30</string>
	<string>com.tringame.everdungeon.pay68</string>
	<string>com.tringame.everdungeon.pay128</string>
	<string>com.tringame.everdungeon.pay198</string>
	<string>com.tringame.everdungeon.pay328</string>
	<string>com.tringame.everdungeon.pay648</string>
</array>
</plist>
