<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daliyprize-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,234}}</string>
                <key>sourceSize</key>
                <string>{640,234}</string>
            </dict>
            <key>daliyprize-bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,494},{83,202}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{83,202}}</string>
                <key>sourceSize</key>
                <string>{83,226}</string>
            </dict>
            <key>daliyprize-bottom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,340},{109,152}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,152}}</string>
                <key>sourceSize</key>
                <string>{109,226}</string>
            </dict>
            <key>daliyprize-btnlqjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{350,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>daliyprize-btnlqjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,171},{350,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,100}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
            <key>daliyprize-dayfive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,741},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayfive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,706},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayfive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,585},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayfour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,508},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayfour2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayfour3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,771},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,550},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,429},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-dayone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,273},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daythree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daythree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daythree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,394},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daytwo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,273},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daytwo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-daytwo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,238},{154,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,233}}</string>
                <key>sourceSize</key>
                <string>{154,233}</string>
            </dict>
            <key>daliyprize-jrjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,698},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>daliyprize-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{375,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,167}}</string>
                <key>sourceSize</key>
                <string>{375,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daliyprize.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22233d6420febe01b784693b395b9b63$</string>
            <key>textureFileName</key>
            <string>daliyprize.png</string>
        </dict>
    </dict>
</plist>
