<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-goblinboss-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>enemy-goblinboss-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{127,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>enemy-goblinboss-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,121},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>enemy-goblinboss-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,207},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>enemy-goblinboss-1-mainweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,206}}</string>
                <key>sourceSize</key>
                <string>{44,206}</string>
            </dict>
            <key>enemy-goblinboss-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>enemy-goblinboss-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,80},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egoblinboss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8cf9120a0dea6ee7a383fee928543af$</string>
            <key>textureFileName</key>
            <string>egoblinboss.png</string>
        </dict>
    </dict>
</plist>
