<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>index-btn-bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,479},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,321},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-changejob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,654},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-cloth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{282,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,159}}</string>
                <key>sourceSize</key>
                <string>{282,159}</string>
            </dict>
            <key>index-btn-cloth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{282,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,159}}</string>
                <key>sourceSize</key>
                <string>{282,159}</string>
            </dict>
            <key>index-btn-event1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,839},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-event2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>index-btn-fight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,637},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-fight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,637},{176,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,200}}</string>
                <key>sourceSize</key>
                <string>{176,200}</string>
            </dict>
            <key>index-btn-forge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,370},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-forge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,163},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,654},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-friend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-mail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,278},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>index-btn-mail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,929},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>index-btn-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,839},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,839},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>index-btn-recharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,938},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-recharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,938},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>index-btn-setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,938},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,938},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>index-btn-store1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-store2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,370},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-btn-union3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{282,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,156}}</string>
                <key>sourceSize</key>
                <string>{282,156}</string>
            </dict>
            <key>index-infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
            <key>index-jl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,839},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,997},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,479},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,358},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-jy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,262},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>index-missionbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,353},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>index-mrrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,931},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-mrrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,186},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{510,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,10}}</string>
                <key>sourceSize</key>
                <string>{510,10}</string>
            </dict>
            <key>index-push.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,407},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>index-qdjl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,839},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-qdjl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,94},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-roleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,367},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,65.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>index-talkbox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,353},{56,52}}</string>
                <key>offset</key>
                <string>{-274,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{56,52}}</string>
                <key>sourceSize</key>
                <string>{620,94}</string>
            </dict>
            <key>index-talkbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{620,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,94}}</string>
                <key>sourceSize</key>
                <string>{620,94}</string>
            </dict>
            <key>index-xslb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,911},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>index-xslb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,929},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c095a372f8d1891cebcbd635992b059d$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
