<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeoniconbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,374},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>dungeoniconbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,870},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>dungeonms.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,146},{234,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,120}}</string>
                <key>sourceSize</key>
                <string>{234,120}</string>
            </dict>
            <key>dungeonname0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,405},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>dungeonname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,405},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,405},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname11.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,405},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,410},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,30},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>dungeonname5.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,322},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname6.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,234},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname7.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>dungeonname8.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,146},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonname9.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,58},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>dungeonnum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,30},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>dungeonnum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,474},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>dungeonnum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,374},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>dungeonnum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,374},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>dungeonnum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,474},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>dungeonnum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,338},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>dungeonnum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,301},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>dungeonrt.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{452,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,84}}</string>
                <key>sourceSize</key>
                <string>{452,84}</string>
            </dict>
            <key>map-btn-blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,88},{414,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,56}}</string>
                <key>sourceSize</key>
                <string>{414,56}</string>
            </dict>
            <key>map-btn-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,58},{414,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,56}}</string>
                <key>sourceSize</key>
                <string>{414,56}</string>
            </dict>
            <key>map-btn-wjms1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,684},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-wjms2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-zcms1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,498},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-btn-zcms2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,268},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>map-mission1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,414},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>map-mission2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,684},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>map-rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,297}}</string>
                <key>sourceSize</key>
                <string>{480,297}</string>
            </dict>
            <key>map-rankicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,405},{128,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,37}}</string>
                <key>sourceSize</key>
                <string>{128,37}</string>
            </dict>
            <key>map-xzzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,301},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>mapicon-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,146},{132,169}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,169}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>mapicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,854},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,684},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,854},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,684},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,499},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapicon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,280},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>mapiconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,500},{124,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,145}}</string>
                <key>sourceSize</key>
                <string>{124,145}</string>
            </dict>
            <key>mapiconm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{1,1}}</string>
                <key>offset</key>
                <string>{-56.5,56.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>mapiconmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,374},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,134}}</string>
                <key>sourceSize</key>
                <string>{114,134}</string>
            </dict>
            <key>mapiconselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{124,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>xdungeonname0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,301},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>xdungeonname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,362},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,413},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>xdungeonname11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,376},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>xdungeonname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,511},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,268},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,301},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>xdungeonname5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,374},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,225},{135,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,37}</string>
            </dict>
            <key>xdungeonname7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>xdungeonname8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,88},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>xdungeonname9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,339},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c181ee6b00187a7bcd41b32c108abe96$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
