<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-village-1-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{36,42}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{36,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>npc-village-1-face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,76}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{70,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>npc-village-1-lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,80},{24,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{24,37}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>npc-village-1-leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,42},{36,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>npc-village-1-righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{38,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,51}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>npc-village-1-rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,80},{36,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>npc-village-1-smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,42},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npcvillage.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4fc09daba28685e89af33fd2de930e$</string>
            <key>textureFileName</key>
            <string>npcvillage.png</string>
        </dict>
    </dict>
</plist>
